@import "bourbon";
@import "neat";
@import "./variables";

body {
	padding:0;
	margin:0; 
	border:none;
}

/* Slick Over Rides */  
.slick-prev:before, .slick-next:before {
	display:none!important;
}

.slick-prev, .slick-next {
	width:17px!important;
	height:29px!important;
}

.slick-prev {
	background-image: url(../images/arrow-left.png)!important;
	transform: none!important;
	top: 400px!important;
	left:900px!important;
	z-index: 999999;
}

.slick-next {
	background-image: url(../images/arrow-right.png)!important;
	top: 400px!important;
	right:70px!important;
	transform: none!important;
}



/* -------mobile---------- */
@media (min-width:320px){

	#Envoy {
		font-family:arial, san-seirf;
		position:relative;
	}
	/* -------Header---------- */
	header {
		width:100%;
		margin:0 auto;
		background-color:$gray-background;
		opacity:.8;
		position: relative;
		overflow:hidden;
		min-height:50px;
		z-index: 99;
	}

	header ul {
		max-width:1024px;
		margin:0 auto;
		padding-top:10px;
		padding-bottom:4%;
		font-size:$copy-text;
		display:none;
	}

	header ul li {
		width:100%;
		text-align: center;
		text-decoration: none;
		color:$white;
		list-style: none;
		padding: 1% 0 ;
		font-size:16px;
	}

	header ul li:hover {
		color:red;
		cursor:pointer;
	}

	#logo-m {
		position:relative;
		margin:0 auto;
		display:block;
		margin-top:2%;
		padding-left:10%;
	}

	#logo-d {
		display:none;
	}

	#hamburger {
		width: 50px;
		height:30px;
		top:8px;
		left:1%;
		position:absolute;
		cursor:pointer;
	}

	#Envoy-Slider {
		max-width:1024px;
		margin:0 auto;
	}

	#Envoy-Slider img {
		width:100%;
	}

	#Featured {
		width:100%;
		background-color:$gray-background;
		padding-bottom:5%;
		position:relative;
		z-index: 999;
	}

	#Featured-Content {
		max-width:90%;
		margin: 0 auto;
		color:$white;
		margin-top:-25px;
	}

	#Featured-Content h2 {
		padding-top: 5%; 
	}

	#Featured-Content h2 span {
		color: $blood-orange; 
	}

	#Featured-Content hr {
		background-color:#565454;
	}

	#Featured-Content h4 {
		color:$gray;
		font-size:22px;
	}

	#Featured-Content h4 a {
		color:$blood-orange;
		font-size:$copy-text;
		text-decoration: none;
	}

	.work{
		width:100%;
		/*display:inline-block;*/
		margin: 0 auto;
		padding-bottom:5%;
	}

	.work img {
		width:100%;
	}

	.work .title {
		color:$white;
		font-size:18px;
	}

	.work .title span{
		color:$light-blue;
	}

	.work .description {
		font-size:$copy-text;
	}

	.work a {
		font-size:11px;
		color:$blood-orange;
	}

	.wire{
		width:100%;
		/*display:inline-block;*/
		margin: 0 auto;
		padding-bottom:5%;
	}

	.wire .title {
		color:$white;
		font-size:36px;
		line-height: 38px;
		font-weight:bold;
	}

	.wire .title span {
		color:$light-blue;
	}

	.wire .date {
		color:$gray;
		font-size:$copy-text;
	}

	.wire a {
		font-size:11px;
		color:$blood-orange;
	}

}

/* --------tablet ---------*/ 
@media (min-width: 768px) {

}
/* -------- desktop ---------*/ 
@media( min-width: 1024px ) {

	header {
		height:50px;
		position:fixed;
	}

	header ul {
		display:block;
	}

	header ul li {
		width:10%;
		text-align: center;
		text-decoration: none;
		display:inline-block;
		color:$white;
		padding: 0;
		font-size:$copy-text;
	}

	#logo-m {
		display:none;
	}

	#logo-d {
		display:block;
	}

	#hamburger {
		display:none;
	}

	#Featured {
		margin-top:-24px;
	}

	#Featured-Content {
		max-width:800px;
		margin:0 auto;
	}

	#Featured-Content h2 {
		padding: 5% 0; 
	}

	#Work-Wrap {
		margin-right:-5%;
	}

	.work {
		display:inline-block;
		width:30%;
		margin-right:2%;
		vertical-align: top;
	}

	#Wire-Wrap {
		margin-right:-5%;
	}

	.wire {
		display:inline-block;
		width:29%;
		margin-right:3%;
		vertical-align: top;
	}


}


