@import "bourbon";
@import "neat";

/* -----colors -------- */ 
$blood-orange: #e34e33;
$gray-background: #1d1d1d;
$light-blue: #67d9da; 
$white: #ffffff; 
$gray: #cccccc;

/* ------font size ------*/
$copy-text: 13px;

